header ul li {
    display: inline;
    list-style-type: none;
}

header ul li a {
    padding: 20px;
    text-decoration: none;
    color: grey;
}

.preco-openlab {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.sekcia-institut {
    background-color: dodgerblue;
    color: white;
    padding: 50px 50px 0 50px;
}

.deticky-img {
    height: 500px;
}

.vizia-v-openlabe {
    padding: 50px 150px 50px 150px;
}

.v-akych-laboch-mozes-studovat {
    padding: 50px 150px 50px 150px;
    text-align: left;
}

.v-akych-laboch-mozes-studovat .titul {
    width: 30%;
}

.nachadzame-sa-na-dvoch-skolach {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.tabulka-skol {
    text-align: left;
}

.tabulka-skol th {
    padding: 0 50px 0 0;
}

.students-3 {
    background-color: gainsboro;
}

.join-us {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.students-3 table {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.img-school-1 {
    height: 200px;
}

.img-school-2 {
    height: 200px;
}

.img-school-3 {
    height: 400px;
}

.text-align-left {
    text-align: left;
}

.padding-none {
    padding: 0;
}
