header ul li {
    display: inline;
    list-style-type: none;
}

header ul li a {
    padding: 20px;
    text-decoration: none;
    color: grey;
}

.preco-openlab {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.sekcia-institut {
    background-color: dodgerblue;
    color: white;
    padding: 50px 50px 0 50px;
}

.deticky-img {
    height: 500px;
}

.vizia-v-openlabe {
    padding: 50px 150px 50px 150px;
}

.v-akych-laboch-mozes-studovat {
    padding: 50px 150px 50px 150px;
    text-align: left;
}

.v-akych-laboch-mozes-studovat .titul {
    width: 30%;
}

.nachadzame-sa-na-dvoch-skolach {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.tabulka-skol {
    text-align: left;
}

.tabulka-skol th {
    padding: 0 50px 0 0;
}

.students-3 {
    background-color: gainsboro;
}

.join-us {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.students-3 table {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.labmastri {
    text-align: left;
    padding: 200px;
}


.studentske-projekty {
    text-align: center;
    padding: 0 200px 200px;
}

.cim-sme-vinimocni {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.img-school-1 {
    height: 200px;
}

.img-school-2 {
    height: 200px;
}

.img-school-3 {
    height: 400px;
}

.text-align-left {
    text-align: left;
}

.padding-none {
    padding: 0;
}

.lenka-img {
    height: 500px;
    width: 900px;
    object-fit: cover;
    padding-left: 100px;
}

.small-grey-text {
    color: grey;
    padding: 0;
    margin: 0;
    font-size: small;
}
.board-photo {
    height: 300px;
}

.margin-bt-none {
    margin-bottom: 0;
    margin-top: auto;
    padding-top: 10px;
}

.spoznaj-nas {
    text-align: center;
}

.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-left: 200px;
    padding-right: 200px;
}

.flex-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.card {
    padding-top: 25px;
}

.people {
    padding: 200px;
}

.people-photo {
    height: 450px;
}

.people-content {
    width: 50%;
}
