header ul li {
    display: inline;
    list-style-type: none;
}

header ul li a {
    padding: 20px;
    text-decoration: none;
    color: grey;
}

.preco-openlab {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.sekcia-institut {
    background-color: dodgerblue;
    color: white;
    padding: 50px 50px 0 50px;
}

.deticky-img {
    height: 500px;
}

.vizia-v-openlabe {
    padding: 50px 150px 50px 150px;
}

.v-akych-laboch-mozes-studovat {
    padding: 50px 150px 50px 150px;
    text-align: left;
}
