header ul li {
    display: inline;
    list-style-type: none;
}

header ul li a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

.p-20 {
    padding: 20px;
}

.align-self-end {
    align-self: flex-end;
}

.m-l-auto {
    margin-left: auto;
}

.preco-openlab {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.sekcia-institut {
    background-color: dodgerblue;
    color: white;
    padding: 50px 50px 0 50px;
}

.deticky-img {
    height: 500px;
}

.vizia-v-openlabe {
    padding: 50px 150px 50px 150px;
}

.v-akych-laboch-mozes-studovat {
    padding: 50px 150px 50px 150px;
    text-align: left;
}

.nachadzame-sa-na-dvoch-skolach {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.tabulka-skol {
    text-align: left;
}

.tabulka-skol th {
    padding: 0 50px 0 0;
}

.students-3 {
    background-color: gainsboro;
}

.join-us {
    text-align: center;
    margin: auto;
    padding: 50px;
}

.students-3 table {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}

.labmastri {
    text-align: left;
    padding: 50px;
}


.studentske-projekty {
    text-align: center;
}

.cim-sme-vinimocni {
    text-align: center;
    margin: auto;
    padding: 50px;
}

.p-30 {
    padding: 30px;
}

.img-school-1 {
    height: 200px;
}

.img-school-2 {
    height: 200px;
}

.img-school-3 {
    height: 400px;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.padding-none {
    padding: 0;
}

.lenka-img {
    height: 500px;
    width: 900px;
    object-fit: cover;
    padding-left: 100px;
}

.small-grey-text {
    color: grey;
    padding: 0;
    margin: 0;
    font-size: small;
}
.board-photo {
    height: 300px;
}

.margin-bt-none {
    margin-bottom: 0;
    margin-top: auto;
    padding-top: 10px;
}

.spoznaj-nas {
    text-align: center;
}

.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
    padding-left: 200px;
    padding-right: 200px;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-row:auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.space-between {
    justify-content: space-between;
}

.mg-100 {
    margin: 100px;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row:auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.w-100 {
    width: 100%;
}

.mg-l-50 {
    margin-left: 50px;
}

.mg-r-50 {
    margin-right: 50px;
}

.p-t-100 {
    padding-top: 100px;
}

.grid-4 {
    grid-template-columns: 25% 25% 25% 25%;
}

.flex-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.card {
    padding-top: 25px;
}

.people {
    padding: 200px;
}

.people-photo {
    height: 450px;
}

.people-content {
    width: 50%;
}

.modern-photo {
    height: 360px;
}

.modern-school {
    padding: 100px 15% 100px 15%;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pd-50 {
    padding: 50px;
}

.support-photo {
    height: 65px;
    padding: 50px;
}

.thanks {
    padding: 100px 15% 100px 15%;
}

.black {
    color: black;
}

.newsletter {
    background-color: lightblue;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
}
